.container {
    position: 'relative';
    margin: '0 auto';
    height: '100vh';
    text-align: 'center';
    overflow: 'hidden';
    max-width: '178vh';
    cursor: crosshair;
    // cursor: url(../components/img/redEllipse.png), auto; - for coloured cursor
}


.canvas {
    opacity: 0.5;
  }

.paintStepsContainer {
    margin-top: 0.3em;
    padding-bottom: 0.5em;
}

.Writing--container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
}